/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Lato Bold";
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../fonts/Lato-Light.ttf);
}
body {
  box-sizing: border-box;
  min-width: 300px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #5997ca;
  outline: 1px solid #5997ca;
}

.video-intro {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.video-intro-wraper {
  position: relative;
}
.video-intro-wraper__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vw;
  min-height: 100vh;
  z-index: -1;
  position: fixed;
}

.face-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1920px;
}

.header {
  display: flex;
  color: #ffffff;
  margin: 0 auto;
  justify-content: space-around;
  height: 100px;
  margin-top: 5px;
  max-width: 1000px;
}
.header-logo {
  font-size: 50px;
  margin: 0;
  line-height: 0.8;
  text-align: center;
  padding: 5px;
  font-family: "Lato Bold";
  align-self: center;
  margin-top: 7px;
}
.header-logo--color {
  color: #9fb4d3;
}
.header-logo img:hover {
  cursor: pointer;
}
.header-logo-title {
  align-self: center;
  font-size: 12px;
  padding: 5px;
  font-family: "Lato Light";
}
.header-lang {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin-bottom: 10px;
  align-items: center;
}
.header-lang img {
  width: 30px;
  margin: 5px;
}
.header-lang a {
  color: white;
}
.header-lang img:hover {
  box-shadow: #5dc8e5 0 0 10px;
}
.header-lang a:hover {
  text-decoration: none;
  color: #dbc325;
}
.header-nav {
  flex-grow: 0.8;
  display: flex;
}
.header-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.header-nav li {
  list-style: none;
  font-family: "Lato Bold";
  font-size: 14px;
}
.header-nav li:hover {
  cursor: pointer;
}
.header-nav li:first-child {
  color: #162e64;
  text-shadow: 0 0 10px #ffffff;
  cursor: pointer;
}

.main-face {
  color: #ffffff;
}
.main-face-steps {
  display: flex;
  color: #ffffff;
  margin: 0 auto;
  justify-content: space-around;
  height: 62vh;
  max-width: 1500px;
  max-height: 600px;
}
.main-face-steps__1 {
  align-self: flex-end;
  font-size: 18px;
  text-align: center;
  width: 25%;
  font-family: "Lato Regular";
  margin-bottom: 10%;
}
.main-face-steps__1:hover {
  transform: scale(1.1, 1.1);
  transition: 2s;
}
.main-face-steps__1:not(:hover) {
  transform: scale(1, 1);
  transition: 2s;
}
.main-face-steps__2 {
  align-self: center;
  font-size: 60px;
  text-align: center;
  flex-grow: 0.6;
  padding: 20px;
  color: #dbc325;
  background-image: url(../img/vol.png);
  background-size: cover;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-shadow: #5dc8e5 0 0 15px;
  font-family: "Lato Bold";
  max-width: 400px;
}
.main-face-steps__2--en {
  font-size: 75px;
}
.main-face-steps__2:hover {
  transform: scale(1.1, 1.1);
  transition: 1.5s;
}
.main-face-steps__2:not(:hover) {
  transform: scale(1, 1);
  transition: 1.5s;
}
.main-face-steps__3 {
  align-self: flex-start;
  width: 25%;
  font-family: "Lato Regular";
  margin-top: 5%;
}
.main-face-steps__3:hover {
  transform: scale(1.1, 1.1);
  transition: 1.5s;
}
.main-face-steps__3:not(:hover) {
  transform: scale(1, 1);
  transition: 1.5s;
}
.main-face-steps__3-title {
  font-size: 18px;
  text-align: center;
}
.main-face-steps__3-list li {
  text-align: left;
}
.main-face-general {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
  text-shadow: #5dc8e5 0 0 20px;
  font-family: "Lato Regular";
}
.main-face__angle-wraper {
  text-align: center;
  font-size: 100px;
  margin: 0 auto;
  width: 100px;
  color: #0c2152;
  text-shadow: #5dc8e5 0 0 10px;
}
.main-face__angle-wraper:hover {
  transform: translateY(20px);
  transition: 1.5s;
  cursor: pointer;
}
.main-face__angle-wraper:not(:hover) {
  transition: 1.5s;
}

.main-nav {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  position: sticky;
  justify-content: space-around;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 95%;
}
.main-nav-scroll {
  flex-grow: 0.8;
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.main-nav-scroll ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.main-nav-scroll li {
  list-style: none;
  font-family: "Lato Bold";
  font-size: 16px;
  margin-top: 10px;
}
.main-nav-scroll li:hover {
  cursor: pointer;
}
.main-nav-scroll li:first-child {
  color: #162e64;
  text-shadow: 0 0 10px #ffffff;
  cursor: pointer;
}

.main-nav-invisible {
  display: none;
}

.main-how {
  background-color: #ffffff;
  width: 100%;
  opacity: 85%;
  padding: 30px 0 30px 0;
  max-width: 1920px;
  margin: 0 auto;
}
.main-how__title {
  font-size: 26px;
  font-family: "Lato Bold";
  text-align: center;
  color: #312f2f;
}
.main-how__advice {
  font-size: 22px;
  text-align: center;
  font-family: "Lato Regular";
  color: #312f2f;
}
.main-how__chois {
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.main-how__chois li {
  list-style: none;
  font-size: 22px;
  font-family: "Lato Regular";
  display: inline-block;
  padding: 0 10px;
}
.main-how-info {
  width: 80%;
  margin: 20px auto;
  border-radius: 15px;
}
.main-how-info__title {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #312f2f;
}
.main-how-info__text {
  font-size: 18px;
  font-family: "Lato Light";
  text-align: left;
  padding: 0 10px;
  line-height: 1.5;
  max-width: 70%;
  margin: 20px auto;
  color: #312f2f;
}
.main-how-info__img {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.nav-link {
  width: 16vw;
  background-color: #5dc8e5;
  color: #312f2f;
}

.main-services {
  max-width: 1920px;
  margin: 0 auto;
  background-color: skyblue;
  width: 100%;
  opacity: 85%;
  padding: 30px 0 30px 0;
}
.main-services__title {
  font-size: 26px;
  font-family: "Lato Bold";
  text-align: center;
  color: #312f2f;
}
.main-services__list {
  margin: 0 auto;
}
.main-services__list-items {
  font-family: "Lato Light";
  cursor: pointer;
}
.main-services__list-items-title {
  color: #312f2f;
  display: block;
  width: 40%;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Lato Bold";
  border-bottom: 1px solid #312f2f;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.main-services__list-items-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 300px;
  height: 170px;
  min-height: 170px;
  padding-bottom: 5px;
  border-radius: 20px;
}
.main-services__list-items-img img {
  width: 65px;
  height: 65px;
  display: block;
  padding: 5px;
}
.main-services__list-items:hover {
  transform: scale(1.04, 1.04);
  transition: 1.5s;
}
.main-services__list-items:not(:hover) {
  transform: scale(1, 1);
  transition: 1.5s;
}
.main-services__list p:nth-child(2n) {
  font-size: 15px;
  font-family: "Lato Light";
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  background-color: #688ad8;
  margin-bottom: 0;
}
.main-services__list p:nth-child(2n+1) {
  font-size: 15px;
  font-family: "Lato Light";
  color: #312f2f;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-bottom: 0;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border-color: white;
  z-index: 2;
  width: 80%;
  padding: 2% 10% 2% 10%;
}

.main-portfolio {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  opacity: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.main-portfolio__title {
  font-size: 26px;
  font-family: "Lato Bold";
  text-align: center;
  padding: 40px;
  text-align: center;
  margin: 0 auto;
}
.main-portfolio-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.main-portfolio-wraper__item {
  width: 40%;
  margin-top: 20px;
}
.main-portfolio-wraper__title {
  font-family: "Lato Bold";
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0;
}
.main-portfolio-wraper__text {
  font-family: "Lato Light";
  font-size: 14px;
  min-width: 300px;
}
.main-portfolio-wraper__link {
  text-decoration: none;
  font-family: "Lato Bold";
}

.main-slider-websites1,
.main-slider-websites2 {
  display: flex;
  width: 100%;
  z-index: -2;
  opacity: 95%;
  align-items: center;
}
.main-slider-websites1-item,
.main-slider-websites2-item {
  text-align: center;
  cursor: pointer;
  outline: none;
}
.main-slider-websites1-item_img,
.main-slider-websites2-item_img {
  margin: 0 auto;
  max-height: 600px;
  opacity: 90%;
  border-radius: 20px;
}

.your-class-arrow1,
.your-class-arrow2 {
  text-align: center;
  opacity: 90%;
  height: 1px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: #43829b;
  font-size: 50px;
  position: relative;
  top: 270px;
  border: 1px solid skyblue;
  border-radius: 20px;
  width: 70px;
  height: 70px;
  padding: 8px;
  text-shadow: skyblue;
  box-shadow: skyblue;
}

.fa-chevron-right {
  margin-left: 80%;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  cursor: pointer;
  color: #065d80;
}

.fa-chevron-left:active,
.fa-chevron-right:active {
  top: 275px;
  box-shadow: 0 3px 0 #145f74;
}

.main-contacts {
  max-width: 1920px;
  margin: 0 auto;
  background-color: skyblue;
  width: 100%;
  opacity: 90%;
  padding: 30px 0 30px 0;
}
.main-contacts__title {
  font-size: 26px;
  font-family: "Lato Bold";
  text-align: center;
}
.main-contacts__advice {
  font-size: 16px;
  text-align: center;
  font-family: "Lato Regular";
  color: 0;
}
.main-contacts__telephone {
  font-size: 16px;
  text-align: center;
  font-family: "Lato Regular";
  color: 0;
}
.main-contacts__policy {
  font-size: 16px;
  text-align: center;
  font-family: "Lato Regular";
  color: 0;
}
.main-contacts-form {
  width: 60%;
  margin: 0 auto;
}
.main-contacts-form__inputs {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  border: none;
  font-size: 15px;
  font-family: "Lato Light";
  padding: 10px;
  outline: none;
}
.main-contacts-form__inputs--message textarea {
  height: 120px;
}
.main-contacts__form-button {
  text-align: center;
}
.main-contacts__form-button button {
  background-color: #5181f3;
  font-family: "Lato Light";
  border-radius: 10px;
  width: 170px;
  height: 40px;
  border: none;
  outline: none;
}
.main-contacts__form-button button:hover {
  background-color: #615f5f;
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.cookies {
  max-width: 1920px;
  background-color: #232324;
  width: 100%;
  opacity: 90%;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-around;
  bottom: 5px;
  position: fixed;
  color: #ffffff;
  padding: 0;
  border-radius: 10px;
}
.cookies-info-wrapper {
  width: 50%;
  align-self: center;
}
.cookies-info-wrapper__title {
  font-family: "Lato Bold";
  font-size: 26px;
  margin-top: 5%;
  line-height: 0;
}
.cookies-info-wrapper__text {
  font-family: "Lato Light";
  font-size: 15px;
}
.cookies__button {
  align-self: center;
  width: 100px;
  background-color: #232324;
  color: #ffffff;
}
.cookies__button button {
  background-color: #232324;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-family: "Lato Light";
  font-size: 15px;
}

.angle-links-anchor {
  text-decoration: none;
  color: #0c2152;
}

.menu-links {
  color: #ffffff;
  text-decoration: none;
}

.menu-links:hover {
  color: #ffffff;
  text-decoration: none;
  color: #7599ec;
  text-shadow: 0 0 15px #ffffff;
}

.main-menu-links {
  color: black;
  text-decoration: none;
}

.main-menu-links:hover {
  color: #ffffff;
  text-decoration: none;
  color: #101625;
  text-shadow: 0 0 15px #1b1a1a;
}

@media screen and (max-width: 992px) {
  .cookies {
    width: 100%;
  }
  .cookies-info-wrapper {
    width: 70%;
  }
  .cookies-info-wrapper__title {
    font-size: 18px;
  }
  .cookies-info-wrapper__text {
    font-size: 14px;
  }

  .header-nav__menu li {
    font-size: 11px;
    padding-left: 5px;
  }

  .header-nav__menu {
    padding-left: 10px;
  }

  .main-face-steps {
    height: 50vh;
  }
  .main-face-steps__1 {
    font-size: 16px;
  }
  .main-face-steps__2 {
    font-size: 50px;
    max-width: 350px;
  }
  .main-face-steps__3-title {
    font-size: 16px;
  }
  .main-face-steps__3-list {
    font-size: 14px;
  }
  .main-face-general {
    font-size: 22px;
  }
}
.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  z-index: 2;
  width: 90%;
  padding: 1% 1% 1% 1%;
}

.main-services__list-items-img {
  min-height: 161px;
}

.maps {
  max-width: 1920px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 10px 20px;
    border-color: white;
    z-index: 2;
    width: 77%;
    margin: 0 auto;
  }

  .video-intro-wraper {
    position: relative;
  }
  .video-intro-wraper__video {
    position: fixed;
    top: 0;
    left: 0;
    height: 120vh;
    z-index: -1;
  }

  .main-portfolio-wraper {
    display: flex;
    flex-direction: column;
  }

  .main-nav-scroll {
    display: none;
  }

  .cookies {
    width: 100%;
  }
  .cookies-info-wrapper {
    width: 70%;
  }
  .cookies-info-wrapper__title {
    font-size: 16px;
  }
  .cookies-info-wrapper__text {
    font-size: 12px;
  }

  .main-slider-websites1-item_img,
.main-slider-websites2-item_img {
    max-height: 400px;
    border-radius: 10px;
  }

  .your-class-arrow1,
.your-class-arrow2 {
    text-align: center;
    opacity: 90%;
    height: 1px;
  }

  .fa-chevron-left,
.fa-chevron-right {
    font-size: 30px;
    top: 210px;
    border-radius: 15px;
    width: 50px;
    height: 50px;
    padding: 8px;
  }

  .fa-chevron-left:active,
.fa-chevron-right:active {
    top: 215px;
  }

  #menu {
    opacity: 0;
  }

  .header-nav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
  }

  .menu__btn span,
.menu__btn span:before,
.menu__btn span:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: skyblue;
    transition: 0.4s;
  }

  .menu__btn span:before {
    content: "";
    top: -10px;
  }

  .menu__btn span:after {
    content: "";
    top: 10px;
  }

  .header-nav__menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 70%;
    height: 30vh;
    padding-left: 0;
    text-align: center;
    background-color: #3c3c3c;
    transition: 0.4s;
    opacity: 0.97;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .menu-links {
    text-decoration: none;
    padding: 5px 5px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    font-family: sans-serif;
    color: skyblue;
    transition: 0.3s;
  }

  .menu-links li:hover {
    cursor: pointer;
  }

  .menu-links:checked,
.menu-links:hover {
    cursor: pointer;
    color: #7e7e8d;
    text-decoration: none;
  }

  #menu:checked ~ .header-nav__menu {
    visibility: visible;
    left: 0;
    z-index: 1;
  }

  #menu:checked ~ .menu__btn span {
    transform: rotate(45deg);
  }

  #menu:checked ~ .menu__btn span:before {
    transform: rotate(0);
    top: 0;
  }

  #menu:checked ~ .menu__btn span:after {
    transform: rotate(90deg);
    top: 0;
  }

  .main-face-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: 0;
    top: 0;
  }
  .main-face-steps__1 {
    align-self: center;
    margin: 10px;
    font-size: 16px;
    width: 80%;
  }
  .main-face-steps__2 {
    align-self: center;
    text-align: center;
    margin: 0;
    padding: 0px;
    font-size: 50px;
    background-image: none;
    width: 80%;
  }
  .main-face-steps__3 {
    align-self: center;
    margin: 10px;
    min-width: 300px;
  }
  .main-face-steps__3-title {
    margin: 0;
  }
  .main-face-steps__3-list {
    margin: 5px;
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .nav-link {
    font-size: 14px;
    min-width: 80px;
  }

  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 10px 10px;
    z-index: 2;
    width: 90%;
    margin: 0 auto;
  }

  .main-slider-websites1-item_img,
.main-slider-websites2-item_img {
    max-height: 200px;
    border-radius: 10px;
  }

  .your-class-arrow1,
.your-class-arrow2 {
    text-align: center;
    opacity: 90%;
    height: 1px;
  }

  .fa-chevron-left,
.fa-chevron-right {
    font-size: 15px;
    top: 110px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    padding: 6px;
  }

  .fa-chevron-left:active,
.fa-chevron-right:active {
    top: 113px;
  }

  .main-how-info__img {
    max-width: 200px;
  }

  .header {
    margin-top: 0;
  }

  .video-intro-wraper {
    position: relative;
  }
  .video-intro-wraper__video {
    position: fixed;
    top: 0;
    left: 0;
    height: 120vh;
    z-index: -1;
  }

  .main-nav-scroll {
    display: none;
  }
}
#menu {
  opacity: 0;
}

.overlay {
  position: fixed;
  width: 30%;
  top: 20%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: none;
}

.popup {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  color: #7bd37b;
}

.close-popup {
  position: relative;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: "";
  background-color: #000;
  position: relative;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup:after {
  content: "";
  background-color: #000;
  position: relative;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}

.policy-info {
  color: white;
  width: 100%;
  margin-top: 50px;
  background-color: black;
  opacity: 0.8;
  padding: 30px 30px 30px 50px;
  border-radius: 30px;
}
.policy-info-contacts-title, .policy-info-maininfo-title {
  font-family: "Lato Bold";
  font-size: 45px;
}
.policy-info-maininfo-title2 {
  font-family: "Lato Bold";
  font-size: 26px;
}
.policy-info-contacts-text, .policy-info-maininfo-text {
  font-family: "Lato Light";
  font-size: 15px;
}

.policy-logo:hover {
  text-decoration: none;
}